*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background-color: #f8fafc; 
  color: #1f2937;
  line-height: 1.5;
}

/* Stili di base per link e bottoni*/
a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: sans-serif;
  cursor: pointer;
}